<div class="vertical-nav vertical-nav-sm">

  <!-- Collapse menu starts -->
  <button class="collapse-menu">
    <i class="icon-menu2"></i>
  </button>
  <!-- Collapse menu ends -->

  <!-- Current user starts -->
  <div class="user-details clearfix">
    <a href="/admin-profile" class="user-img">
      <img src="img/thumbs/admin1.png" alt="User Info">
    </a>
    <h5 class="user-name"><%= nickname %> </h5>
  </div>
  <!-- Current user ends -->

  <!-- Sidebar menu starts -->
  <ul class="menu clearfix">
    <li>
      <a href="/">
        <i class="icon-air-play"></i>
        <span class="menu-item">主页面</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-gift2"></i>
        <span class="menu-item">商品管理</span>
        <span class="down-arrow"></span>
      </a>
      <ul>
        <li>
          <a href='tasks.html'>商品分类</a>
        </li>
        <li>
          <a href='cards.html'>商品列表</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="icon-man-woman"></i>
        <span class="menu-item">会员管理</span>
        <span class="down-arrow"></span>
      </a>
      <ul>
        <li>
          <a href='profile.html'>会员列表</a>
        </li>
        <li>
          <a href='profile.html'>会员地址</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="icon-abacus"></i>
        <span class="menu-item">订单管理</span>
        <span class="down-arrow"></span>
      </a>
      <ul>
        <li>
          <a href='c3-graphs.html'>C3 Graphs</a>
        </li>
        <li>
          <a href='small-graphs.html'>Small Graphs</a>
        </li>
        <li>
          <a href='maps.html'>Vector Maps</a>
        </li>
        <li>
          <a href='flot.html'>Flot</a>
        </li>
      </ul>
    </li>
    <li class="active selected">
      <a href="#">
        <i class="icon-settings"></i>
        <span class="menu-item">网站设置</span>
        <span class="down-arrow"></span>
      </a>
      <ul>
        <li>
          <a href='tables.html'>Tables</a>
        </li>
        <li>
          <a href="data-tables.html" class="current">Data Tables</a>
        </li>
      </ul>
    </li>
  </ul>
  <!-- Sidebar menu ends -->
</div>