
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="img/fav.png">
		<title><%=title%></title>
		
		<!-- Error CSS -->
		<link href="css/maintenance.css" rel="stylesheet" media="screen">

		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet'>

		<!-- Ion Icons -->
		<link href="fonts/icomoon/icomoon.css" rel="stylesheet" />
	</head>
	<body>
		<div class="fixed-bg"></div>
		<div class="maintenance-wrapper">
			<h1 class="heading">404</h1>
			<h2 class="heading"><%=msg%></h2>
			<h5 class="heading">您要查找的页可能已被删除、名称已更改或暂时不可用。<a href="/" style="color: #fff;">返回首页</a></h5>
		</div>
	</body>
</html>