<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="renderer" content="webkit">
  <title><%= title%></title>
  <link href="css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.css?v=4.3.0" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/style.css?v=2.2.0" rel="stylesheet">
</head>

<body class="gray-bg">
  <div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
      <div>
          <h1 class="logo-name">Ling</h1>
      </div>
      <h3>欢迎使用 Ling Mall</h3>
      <form class="m-t" id="loginForm">
        <div class="form-group">
            <input type="text" class="form-control" id="input-username" placeholder="请输入账号" >
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="input-password" placeholder="请输入密码">
        </div>
        <button type="submit" id="btn-submit" class="btn btn-primary block full-width m-b">登 录</button>
        </p>
      </form>
    </div>
  </div>
  <!-- Mainly scripts -->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/my-ajax.js"></script>
  <script src="js/bootstrap.min.js?v=3.4.0"></script>
  <script src="js/plugins/layer/layer.min.js"></script>
  <script>
    $(function () {
      var $inputUserName = $('#input-username')
      var $inputPassword = $('#input-password')
      $('#btn-submit').click(function(e) {
        e.preventDefault()
        const username = $inputUserName.val().trim()
        const password = $inputPassword.val().trim()
        if (username === '') {
          $inputUserName.attr('placeholder', '必须输入账号').addClass('error')
          return
        } else {
          $inputUserName.attr('placeholder', '请输入账号').removeClass('error')
        }

        if (password === '') {
          $inputPassword.attr('placeholder', '必须输入密码').addClass('error')
          return
        } else {
          $inputPassword.attr('placeholder', '请输入密码').removeClass('error')
        }

        ajax.post('/api/admin/login', {
          username,
          password
        }, function(err, data) {
            if (err) {
              if (Array.isArray(err)) {
                err = err.join('<br />')
              }
              layer.msg(err)
              return
            }
            // 跳转到指定 url 或首页
            const redirectUrl = new URLSearchParams(location.search).get('url') || '/'
            location.href = redirectUrl
        })
                
      })

      $('#input-username, #input-password').keyup(function () {
        const value = $(this).val().trim()
        if (value !== '') {
          $(this).removeClass('error')
        } else {
          $(this).addClass('error')
        }
      })
    })
  </script>
</body>

</html>
